[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "SamplePlugin/ECommons"]
	path = SamplePlugin/ECommons
	url = https://github.com/NightmareXIV/ECommons.git
